@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.profile-input {
    border: 0;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    cursor: default;
    transition: 0.6s;
}

.profile-input::selection {
    background-color: #3DFF3F;
}

.profile-input:hover {
    transform: rotate(1.5deg) scale(1.06);
}

.profile-picture {
    width: 170px;
    height: 170px;
    border-radius: 100px;
}

.profile-picture:hover {
    transform: rotate(-1deg) scale(1.04);  
    box-shadow: rgb(0, 114, 34) 0px 0px 0px 4px, rgb(3, 172, 0) 0px 0px 0px 7px, rgb(0, 204, 17) 0px 0px 0px 9px, rgb(0, 255, 55) 0px 0px 0px 15px, rgb(0, 248, 12) 0px 0px 0px 15px;
    
}