* {
    font-family: 'Poppins', sans-serif;
    transition: 1s ease;
}


.main-div-home {
    background-color: rgb(29, 29, 29);
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.submit-button-home {
    background-color: #3DFF3F;
    font-weight: 600;
    border: 0;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    padding-left: 20px;
}

.submit-button-home:hover {
    background-color: #252525;
    color: #3DFF3F;
}

.logout-button-home {
    background-color: #c204bfaf;
    font-weight: 600;
    border: 0;
    margin-top: 20px;
    height: 35px;
    width: 70%;
    border-radius: 7px;
}

.logout-button-home:hover {
    background-color: #636363;
    color: #C204C0;
}

.round-logo-home {
    width: 75px;
    height: 75px;
    border-radius: 45px;
}

.round-logo-home:hover {
    margin-right: 10px;
    filter: invert();
}

.userName {
    text-transform: uppercase;
}