.main-div-admin {
    background-color: rgba(46, 46, 46, 0.685);
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: rgba(109, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.6s ease;
}

.main-div-admin:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}