@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    transition: 1s ease;
}

body {
    background-image: url(../../../../public/assets/images/pexels-buchkiste-4834961.jpg);
    padding: 20px;
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    height: 100vh;
    /* Makes sure the page takes up the entire viewport height */
    margin: 0;
    /* Removes default body margin */

}


.main-div {
    background-color: rgb(29, 29, 29);
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: blur(2px) grayscale(100%);
    transition: 0.6s ease;
    
}

.main-div:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.01);
    filter: none;
}

.signup-input {
    border: 0;
    margin-top: 20px;
    height: 45px;
    width: 70%;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 10px;
    outline: none;
}

.signup-input::selection {
    background-color: #3DFF3F;
}

.signup-input:hover {
    transform: rotate(1.5deg);
}

.round-logo-login {
    width: 50px;
    height: 50px;
}

.round-logo-login:hover {
    margin-right: 10px;
    filter: invert();
}

.line {
    color: #3DFF3F;
}

.submit-button {
    background-color: #3DFF3F;
    border: 0;
    margin-top: 20px;
    height: 45px;
    width: 70%;
    border-radius: 20px;
    padding-left: 20px;
}

.submit-button:hover {
    background-color: #252525;
    color: #3DFF3F;
}

.login-aTag {
    display: block;
    text-decoration: none;
    color: #757575;
    cursor: pointer;
}

.login-aTag:hover{
    text-decoration: underline #3DFF3F;
    color: white;
}